<h1>SHOWWWWWW</h1>
<%# <%= link_to 'Edit', edit_restaurant_path(@restaurant) | %> %>
<%# <%= link_to 'Back', restaurants_path  | %> %>
<%# <%= link_to 'Leave a Review', new_restaurant_review_path(@restaurant) %> %>
